* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background: url('image.jpg') no-repeat center center fixed; /* Adding background image */
    background-size: cover; /* Ensuring the image covers the entire body */
    color: #00796b; 
}

/* Header styling */
header {
    background-color: rgba(0, 188, 212, 0.8); /* Light blue for the header with transparency */
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #274541; 
    border-radius: 5px;
}